.tcenter {
    text-align: center;
  }


  .my-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    border: 3px solid #0c7001;
    background: #94e1b1;
    padding: 0 1rem;
  }

  .inner-row {
    display: flex;
    height: 100%;
    width: 100%;
    gap: 1%;
    align-content: space-evenly;

  }
  
  .inner-column {
    flex: 45%;
    padding: 1%;
    height: 150px;
    display: inline-block;
    align-self: flex-end;
    overflow-y: auto;
  }

