<br />
<router-outlet></router-outlet>

<div class="my-container">
  <a title="Svgmix, Public domain, via Wikimedia Commons"><img width="512" alt="Angular Logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/07/Angular_Logo_SVG.svg/512px-Angular_Logo_SVG.svg.png?20231112001847"></a>
  <img width="192" src="assets/Signals_ogo_1.svg">
</div>

  <h1 style="font-size: 30px; font-family: Arial, Helvetica, sans-serif;">
    Using <span style="color:crimson">Signals</span> with an Intermediate service for data sharing between components
  </h1>

<h3>This is the {{ compName }}</h3>

<div class="row">
  <div class="column" style="background-color: #708164">
    <h2>Test1 Container...</h2>
    <p></p>
    <test1></test1>
  </div>
  <div class="column" style="background-color: #9a6a6a">
    <h2>Test2 Container...</h2>
    <p></p>
    <test2></test2>
  </div>
</div>
